.contact_container {
    width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  margin-top: 100px;
  margin-bottom: 50px;
  
}

*{
    overflow-x: hidden;
}

.contact_main {
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 20px;
  padding: 1.5rem;
}

.contact_form{
    width: 100%;
    max-width: 500px;
    background-color: white;
    border-radius: 32px;
    display: flex;
    align-items: center;

}

.contact_info{
    width: 100%;
    background-color: blue;
    border-radius: 32px;

}

.contact_title{
    color: #7E86F6;
    font-size: 1.5rem;
    margin-left: 8%;
    margin-top: 5%;
}

.contact_title2{
    font-size: 0.7rem;
     margin-left: 8%;
}

.input_1{
    width: 75%;
    margin-left: 9%;
    outline: none;
    border: none;
    background-color: #F5F5FF;
    height: 46px;
    margin-top: 7%;
    color: #9F9F9F;
    padding: 3px;
        font-size: 0.7rem;

}

.input_2{
    width: 75%;
    margin-left: 9%;
    outline: none;
    border: none;
    background-color: #F5F5FF;
    height: 200px;
    margin-top: 7%;
    color: #9F9F9F;
    padding: 3px;
    font-size: 0.7rem;
}

.contact_submit{
    width: 75%;
    margin-left: 9%;
    outline: none;
    margin-top: 7%;
    height: 39px;
    border: none;
    background-color: #6569F6;
    color: white;
    margin-bottom: 30px;
}

.inside_form{
    width: 100%;
}

.not_valid{
    color: red;
        font-size: 0.7rem;

    margin-left: 9%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.span {
    margin-left: 5px;
  width: 1rem;
  height: 1rem;
  animation: spin 1.5s linear infinite;
  background-color: white;
  clip-path: polygon(
    20% 0%, 0% 20%, 30% 50%, 0% 80%, 
    20% 100%, 50% 70%, 80% 100%, 100% 80%, 
    70% 50%, 100% 20%, 80% 0%, 50% 30%
  );
  display: inline-block; /* Required for transform to work properly */
}


.disabled{
    width: 75%;
    margin-left: 9%;
    outline: none;
    margin-top: 7%;
    height: 39px;
    border: none;
    color: white;
    margin-bottom: 30px;
    background-color: gray !important;
}





